.cleanerButton {
  background-color: transparent;
  border: none;
  color: var(--color-primary);
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.cleanerButton:hover {
  background-color: var(--color-primary-active);
  color: var(--color-primary-invert);
}

@media (prefers-color-scheme: light) {
  .cleanerButton {
    color: var(--color-primary-active);
  }
}