section.section {
  margin-bottom: 2rem;
}

input.apiKey {
  padding: 0.5rem 1rem;
  width: 100%;
}

input.topic{
  padding: 1rem;
  font-size: 1.4em;
  width: 100%;
}

input.topic.error {
  border-color: var(--color-secondary);
}

ul.examplesList {
  margin: 1rem 0;
}

ul.examplesList li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  margin: 0.5rem 0;
}

.name {
  width: 100%;
}

.tag {
  border-color: var(--color-tertiary);
  transition: all 0.2s ease-in-out;
}
.tag:focus,
.tag:focus-visible {
  outline: none;
  border-color: var(--color-tertiary-active);
  background-color: var(--color-tertiary-opacity);
}

button.addExample,
button.generateExample {
  background-color: var(--color-tertiary);
  color: var(--color-tertiary-invert);
}
button.addExample:hover,
button.generateExample:hover {
  background-color: var(--color-tertiary-hover);
}
button.addExample:focus,
button.addExample:focus-visible,
button.addExample:active,
button.generateExample:focus,
button.generateExample:focus-visible,
button.generateExample:active {
  background-color: var(--color-tertiary-active);
}
button.addExample:disabled,
button.generateExample:disabled {
  background-color: transparent;
  color: var(--color-tertiary);
}

button.remove {
  max-width: 100%;
}

.loading::before {
  content: "";
  display: inline-block;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  margin-left: -0.5rem;
  margin-right: 0.5rem;
  border: 2px solid var(--color-tertiary);
  border-color: var(--color-tertiary) transparent var(--color-tertiary) transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.manageExamples {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin: 1rem 0;
}

.save {
  margin: 2rem 0;
  width: 100%;
}

@media screen and (max-width: 768px) {
  ul.examplesList li {
    flex-direction: column;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--color-primary);
    padding: 1rem 0;
  }
  .name, .tag, button {
    width: 100%;
  }
  ul.examplesList li button {
    background-color: var(--color-secondary);
  }
}

@media (prefers-color-scheme: light) {
  .loading::before {
    border-color: var(--color-disabled);
    border-top-color: transparent;
  }
  button.addExample:disabled,
  button.generateExample:disabled {
    background-color: transparent;
    color: var(--color-disabled);

  }
}