.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.loading::after {
  content: '';
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 0.2rem solid var(--color-primary);
  border-color: var(--color-primary) transparent var(--color-primary) transparent;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.topic {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.configureButton {
  width: auto;
}