.tasksContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
}
.tasksContainer:focus {
  outline: none;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.loading::after {
  content: '';
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 0.2rem solid var(--color-primary);
  border-color: var(--color-primary) transparent var(--color-primary) transparent;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.topic {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.configureButton {
  width: auto;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: calc(1rem * var(--size-ratio)) 0;
  gap: calc(2rem * var(--size-ratio));
}

.footer .cleaner {
  flex-grow: 1;
}

.footer .helpButton {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .footer {
    gap: calc(1rem * var(--size-ratio));
    flex-direction: column-reverse;
  }
}