.bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 calc(1rem * var(--size-ratio));
  gap: calc(0.5rem * var(--size-ratio));
}

.filterByStatus {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.filterByStatus > button {
  border-radius: 0;
  border-top: 1px solid var(--color-primary-active);
  border-bottom: 1px solid var(--color-primary-active);
  background-color: var(--color-primary-opacity);
  color: var(--color-primary);
}

.filterByStatus > button:hover,
.filterByStatus > button:focus,
.filterByStatus > button.active {
  background-color: var(--color-primary-hover);
  color: var(--color-primary-invert);
}

.filterByStatus > button:first-child {
  border: 1px solid var(--color-primary-active);
  border-radius: calc(0.5rem * var(--size-ratio)) 0 0 calc(0.5rem * var(--size-ratio));
}

.filterByStatus > button:last-child {
  border: 1px solid var(--color-primary-active);
  border-radius: 0 0.5rem 0.5rem 0;
}

.filterByTag {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: calc(0.5rem * var(--size-ratio));
}

.filterByTag > button {
  background-color: var(--color-tertiary);
  color: var(--color-tertiary-invert);
  padding: 0.3rem 1rem;
}
.filterByTag > button:hover {
  background-color: var(--color-tertiary-hover);
}

.filterByName > input {
  border: 1px solid var(--color-primary);
  border-radius: 0.5rem;
  padding: calc(0.5rem * var(--size-ratio)) calc(0.5rem * var(--size-ratio)) calc(0.5rem * var(--size-ratio)) calc(2.2rem * var(--size-ratio));
  width: calc(10rem * var(--size-ratio));
  font-size: calc(1.02rem * var(--size-ratio));
  background-color: var(--color-primary-opacity);
  background-image: var(--icon-search);
  background-repeat: no-repeat;
  background-size: calc(1.6rem * var(--size-ratio)) calc(1.6rem * var(--size-ratio));
  background-position: calc(0.4rem * var(--size-ratio)) calc(0.3rem * var(--size-ratio));
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.filterByName > input:placeholder-shown {
  opacity: 0.5;
}

.filterByName > input:hover,
.filterByName > input:focus {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .bar {
    flex-direction: column;
    gap: calc(1rem * var(--size-ratio));
  }
}