@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,slnt,wdth,wght,GRAD,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC@8..144,-10,135,300,-34,369,35,854,-305,788,416,760&display=swap');

:root {

  color-scheme: light dark;

  font-family: 'Roboto Flex', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --font-v-opsz: 8;
  --font-v-italic: -10;
  --font-v-slnt: 0;
  --font-v-wdth-normal: 120;
  --font-v-wdth-wide: 140;

  font-variation-settings: 'wght' var(--font-weight-light), 
                           'wdth' var(--font-v-wdth-normal),
                           'slnt' var(--font-v-slnt);

  --background-color: #231F20;
  --text-color: #efe6dd;

  --color-primary: rgb(126, 189, 194);
  --color-primary-hover: rgb(36, 161, 170);
  --color-primary-active: #24a1aa;
  --color-primary-invert: #231F20;
  --color-primary-opacity: rgba(126, 189, 194, 0.1);

  --color-secondary: #bb4430;
  --color-secondary-hover: #bb4430;
  --color-secondary-active: #a03522;
  --color-secondary-invert: #efe6dd;

  --color-tertiary: #f3dfa2;
  --color-tertiary-hover: #e7b82a;
  --color-tertiary-active: #e7b82a;
  --color-tertiary-invert: #231F20;

  --color-success: #24aa7d;
  --color-error: #bb4430;
  --color-disabled: #868686;
  --color-grey: #a4a4a4;


  color: var(--text-color);
  background-color: var(--background-color);

  accent-color: var(--color-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --icon-search: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24' stroke-width='2.4' stroke='rgb(126, 189, 194)' %3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z' /%3E%3C/svg%3E");
  --icon-edit: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='rgb(126, 189, 194)' viewBox='0 0 24 24' stroke='none' %3E%3Cpath d='M16.77 8l1.94-2a1 1 0 0 0 0-1.41l-3.34-3.3a1 1 0 0 0-1.41 0L12 3.23zm-5.81-3.71L1 14.25V19h4.75l9.96-9.96-4.75-4.75z'/%3E%3C/svg%3E");
}

* {
  box-sizing: border-box;
}

a {
  font-variation-settings: 'wght' var(--font-weight-regular), 
                           'wdth' var(--font-v-wdth-normal),
                           'slnt' var(--font-v-slnt);
  color: var(--color-primary-active);
  text-decoration: inherit;
  border-bottom: 1px solid transparent;
  transition: color 0.2s ease-in-out, border-bottom 0.1s ease-in-out;
}
a:hover {
  border-bottom: 1px solid var(--color-primary-hover);
}

body {
  margin: 0;
  display: flex;
  min-width: 10rem;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  place-items: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
  min-height: 100vh;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  place-items: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
  min-height: 100vh;
}

header {
  text-align: left;
  width: 100%;
  max-width: 56rem;
}

main {
  padding: 0 0 1rem 0;
  width: 100%;
  max-width: 56rem;
}

footer {
  margin-top:auto;
}

h1 {
  font-size: 2.2rem;
  font-weight: var(--font-weight-bold);
  line-height: 1.1;
  margin: 1rem 0 0;
  padding: 1rem 0 0;

  font-variation-settings: 'wght' var(--font-weight-regular), 
                           'wdth' var(--font-v-wdth-wide),
                           'slnt' var(--font-v-slnt);
}

h2 {
  font-size: 1.8rem;
  font-weight: var(--font-weight-bold);
  line-height: 1.1;
  padding: 1rem 0 0;

  font-variation-settings: 'wght' var(--font-weight-regular), 
                           'wdth' var(--font-v-wdth-wide),
                           'slnt' var(--font-v-slnt);
}

h3 {
  font-size: 1.4rem;
  font-weight: var(--font-weight-bold);
  line-height: 1.1;
  padding: 1rem 0 0;

  font-variation-settings: 'wght' var(--font-weight-regular), 
                           'wdth' var(--font-v-wdth-wide),
                           'slnt' var(--font-v-slnt);
}

p {
  padding: 0;
  margin: 1rem 0;
}

button {
  border-radius: 0.4rem;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: inherit;

  font-variation-settings: 'wght' 450, 
                           'wdth' var(--font-v-wdth-normal),
                           'slnt' var(--font-v-slnt);

  background-color: var(--color-primary);
  color: var(--color-primary-invert);
  cursor: pointer;
  transition: background-color 0.25s, color 0.1s;
}
button:hover {
  background-color: var(--color-primary-hover);
}
button:focus,
button:focus-visible {
  outline: none;
  background-color: var(--color-primary-active);
}
button:active {
  background-color: var(--color-primary-active);
}
button:disabled {
  background-color: transparent;
  color: var(--color-primary);
  cursor: not-allowed;
}

input {
  border-radius: 0.4rem;
  border: 1px solid var(--color-primary);
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: inherit;

  font-variation-settings: 'wght' var(--font-weight-light)
                           'wdth' var(--font-v-wdth-normal),
                           'slnt' var(--font-v-slnt);

  background-color: var(--background-color);
  transition: border-color 0.25s, background-color 0.25s;
}
input:focus,
input:focus-visible {
  outline: none;
  background-color: var(--color-primary-opacity);
}


.highlight {
  background-color: var(--color-tertiary);
  color: var(--color-tertiary-invert);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.remove {
  border: none;
  outline: none;
  font-size: 1.4rem;
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  max-width: 3rem;
}

.remove:hover {
  background-color: var(--color-secondary);
  color: var(--color-secondary-invert);
}

.remove:focus,
.remove:focus-visible {
  outline: none;
  background-color: var(--color-secondary);
  color: var(--color-secondary-invert);
}

.remove:active {
  background-color: var(--color-secondary-active);
  color: var(--color-secondary-invert);
}

.remove:disabled {
  background-color: transparent;
  color: var(--color-secondary);
  cursor: not-allowed;
}

.simpleButton {
  background-color: transparent;
  border: none;
  color: var(--color-primary);
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.simpleButton:hover {
  background-color: var(--color-primary-active);
  color: var(--color-primary-invert);
}

.simpleButton.secondary {
  color: var(--color-secondary);
}

.simpleButton.secondary:hover {
  background-color: var(--color-secondary-active);
  color: var(--color-secondary-invert);
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #ffffff;
    --text-color: #231F20;

    --color-primary: rgb(0, 110, 130);
    --color-primary-hover: rgb(0, 110, 130);
    --color-primary-active: rgb(0, 110, 130);
    --color-primary-invert: #ffffff;
    --color-primary-opacity: rgba(126, 189, 194, 0.1);
  
    --color-secondary: #bb4430;
    --color-secondary-hover: #bb4430;
    --color-secondary-active: #a03522;
    --color-secondary-invert: #EFE6DD;
  
    --color-tertiary: #ecc756;
    --color-tertiary-hover: #e2b11f;
    --color-tertiary-active: #eeb814;
    --color-tertiary-invert: #444444;
    --color-tertiary-opacity: rgba(238, 184, 20, 0.1);
  
    --color-success: #24aa7d;
    --color-error: #bb4430;
    --color-disabled: #868686;
    --color-grey: #333333;


  }
  .simpleButton {
    color: var(--color-primary-active);
  }
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 14px;
  }
  #root {
    padding: 0 0.5rem;
  }
  h1 {
    margin: 0.5rem 0;
    padding: 0.5rem 0;
  }
  h2 {
    margin: 0.5rem 0;
    padding: 0.5rem 0;
  }
}