@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,slnt,wdth,wght,GRAD,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC@8..144,-10,135,300,-34,369,35,854,-305,788,416,760&display=swap');

:root {

  color-scheme: light dark;

  font-family: 'Roboto Flex', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
  font-weight: 400;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --font-v-opsz: 8;
  --font-v-italic: -10;
  --font-v-slnt: 0;
  --font-v-wdth-normal: 120;
  --font-v-wdth-wide: 140;

  font-variation-settings: 'wght' var(--font-weight-light), 
                           'wdth' var(--font-v-wdth-normal),
                           'slnt' var(--font-v-slnt);

  --background-color: #231F20;
  --text-color: #efe6dd;

  color: var(--text-color);
  background-color: var(--background-color);

  --color-primary: rgb(126, 189, 194);
  --color-primary-hover: rgb(36, 161, 170);
  --color-primary-active: #24a1aa;
  --color-primary-invert: #231F20;
  --color-primary-opacity: rgba(126, 189, 194, 0.1);

  --color-secondary: #bb4430;
  --color-secondary-hover: #bb4430;
  --color-secondary-active: #a03522;
  --color-secondary-invert: #efe6dd;

  --color-tertiary: #f3dfa2;
  --color-tertiary-hover: #e7b82a;
  --color-tertiary-active: #e7b82a;
  --color-tertiary-invert: #231F20;

  --submit-button-color: var(--color-primary);
  --submit-button-color-hover: var(--color-primary-hover);
  --submit-button-color-active: var(--color-primary-active);
  --submit-button-color-invert: var(--color-primary-invert);

  --cancel-button-color: var(--color-secondary);
  --cancel-button-color-hover: var(--color-secondary-hover);
  --cancel-button-color-active: var(--color-secondary-active);
  --cancel-button-color-invert: var(--color-secondary-invert);

  --input-color: var(--color-primary);
  --input-color-hover: var(--color-primary-hover);
  --input-color-active: var(--color-primary-active);
  --input-bgcolor-active: var(--color-primary-opacity);

  --color-error: #bb4430;

  accent-color: var(--color-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --icon-search: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24' stroke-width='2.4' stroke='rgb(126, 189, 194)' class='w-6 h-6'><path stroke-linecap='round' stroke-linejoin='round' d='M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z' /%3E%3C/svg%3E");
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-primary-hover);
}

body {
  margin: 0;
  display: flex;
  min-width: 10rem;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  place-items: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
  height: 100%;
}

main {
  padding: 0 0 1rem 0;
  width: 100%;
  max-width: 56rem;
}

h1 {
  font-size: 2.2rem;
  font-weight: var(--font-weight-bold);
  line-height: 1.1;
  padding: 1rem 0 0;

  font-variation-settings: 'wght' var(--font-weight-regular), 
                           'wdth' var(--font-v-wdth-wide),
                           'slnt' var(--font-v-slnt);
}

button {
  border-radius: 0.4rem;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: inherit;

  font-variation-settings: 'wght' 450, 
                           'wdth' var(--font-v-wdth-normal),
                           'slnt' var(--font-v-slnt);

  background-color: var(--submit-button-color);
  color: var(--submit-button-color-invert);
  cursor: pointer;
  transition: background-color 0.25s, color 0.1s;
}
button:hover {
  background-color: var(--submit-button-color-hover);
}
button:focus,
button:focus-visible {
  outline: none;
  background-color: var(--submit-button-color-active);
}
button:active {
  background-color: var(--submit-button-color-active);
}
button:disabled {
  background-color: var(--submit-button-color-invert);
  color: var(--submit-button-color);
  cursor: not-allowed;
}

input {
  border-radius: 0.4rem;
  border: 1px solid var(--color-primary);
  padding: 1rem 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: inherit;

  font-variation-settings: 'wght' var(--font-weight-light)
                           'wdth' var(--font-v-wdth-normal),
                           'slnt' var(--font-v-slnt);

  background-color: var(--color-primary-invert);
  transition: border-color 0.25s, background-color 0.25s;
}
input:focus,
input:focus-visible {
  outline: none;
  background-color: var(--input-bgcolor-active);
}


.highlight {
  background-color: var(--color-tertiary);
  color: var(--color-tertiary-invert);
}



@media (prefers-color-scheme: light) {
  :root {
    --background-color: #EFE6DD;
    --text-color: #231F20;
  }
  /* TODO: Add light theme colors */
}
