
.tag {
  font-size: 0.8rem;
  font-weight: var(--font-weight-bold);
  font-variation-settings: 'wght' 500, 
                           'wdth' var(--font-v-wdth-normal),
                           'slnt' var(--font-v-italic);
  padding: 0.3rem 1rem;
  border-radius: 0.3rem;
  margin-right: 0.5rem;
  background-color: var(--color-tertiary);
  color: var(--color-tertiary-invert);
  cursor: pointer;
}
.tag:hover {
  background-color: var(--color-tertiary-hover);
}
.tag.active {
  background-color: var(--color-tertiary-active);
}

@media screen and (max-width: 768px) {
  .tag {
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
    margin-right: 0;
  }
}
