.completed {
  background-color: var(--color-primary-opacity);
}

.selected {
  position: relative;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.selected::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(0.32rem * var(--size-ratio));
  height: 100%;
  background-color: var(--color-primary);
}

.task {
  display: flex;
  align-items: center;
  gap: calc(1rem * var(--size-ratio));
  width: 100%;
}

.name{
  width: 100%;
}

div.name {
  transition: background-color 0.1s;
  border-radius: 0.4rem;
  padding: calc(0.4rem * var(--size-ratio)) calc(0.2rem * var(--size-ratio));
  user-select: none;
  display: flex;
  align-items: center;
  gap: calc(0.5rem * var(--size-ratio));
  justify-content: start;
  gap: calc(0.6rem * var(--size-ratio));
}
div.name:hover {
  background-color: var(--color-primary-opacity);
  cursor: text;
}

.editIcon {
  display: none;
  background-image: var(--icon-edit);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: calc(1.4rem * var(--size-ratio));
  height: calc(1.5rem * var(--size-ratio));
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.1s ease-in-out;
}
div.name:hover .editIcon {
  display: block;
}

div.name .editIcon:hover {
  opacity: 1;
}

.tags {
  display: flex;
  gap: calc(0.5rem * var(--size-ratio));
  margin: 0;
  padding: 0;
  list-style: none;
}

input[type="checkbox"] {
  appearance: none;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0 0 -0.36rem;
}

input[type="checkbox"]:focus,
input[type="checkbox"]:focus-visible {
  outline: none;
}

input[type="checkbox"]::after {
  content: " ";
  display: block;
  width: calc(2.1rem * var(--size-ratio));
  height: calc(2.1rem * var(--size-ratio));
  border-radius: 0.4rem;
  border: 0px solid var(--color-primary);
  background-color: var(--color-primary-opacity);
  transition: background-color 0.1s;
  box-shadow: inset 0 0 0 0.15rem var(--color-primary);
  font-size: calc(1.5rem * var(--size-ratio));
  margin: 0;
  opacity: 0.5;
  cursor: pointer;
}

input[type="checkbox"]:hover::after {
  background-color: var(--color-primary-opacity);
  opacity: 1;
}

input[type="checkbox"]:checked::after {
  content: " ";
  display: block;
  text-align: center;
  clip-path: polygon(17.79% 44.15%, 2.57% 61.64%, 39.19% 92.25%, 97.25% 25.53%, 79.69% 10.25%, 36.85% 59.48%);
  background-color: var(--color-primary-active);
  box-shadow: none;
  opacity: 1;
}

li.bigEdit {
  align-items: start;
}

li.bigEdit .task {
  flex-direction: column;
  align-items: end;
}

@media screen and (max-width: 768px) {
  .task {
    margin: 0;
    gap: 0.5rem;
  }
  .checkboxDiv {
    padding: 0 0 0 0.5rem;
    width: 2.6rem;
  }
  .checkbox {
    padding: 0 0 0 0.5rem;
  }
}