.container {
  background-color: var(--background-color);
  padding: calc(1rem * var(--size-ratio)) 0;
  height: calc(5.6rem * var(--size-ratio));
  position:sticky;
  top:0;
  z-index: 1;
}


.taskInput {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: calc(1.5rem * var(--size-ratio));
  font-family: inherit;
  color: inherit;
  display: flex;
  height: 100%;

  position:sticky;
  top:0;
  z-index: 1;
}

.input {
  flex: 1;
  border: 1px solid var(--color-primary);
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
  font-size: calc(1.5rem * var(--size-ratio));
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  width: 100%;
}

.button {
  border: 1px solid var(--color-primary);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  outline: none;
  font-size: calc(1.2rem * var(--size-ratio));
  font-family: inherit;
  font-variation-settings: 'wght' 400, 
                           'wdth' 150,
                           'slnt' var(--font-v-slnt);
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;
  transition: border-color 0.25s, color 0.1s;
  width: calc(5rem * var(--size-ratio));
}

.button:hover,
.button:focus,
.button:focus-visible {
  background-color: var(--color-primary);
  border-top-color: var(--color-primary);
  border-bottom-color: var(--color-primary);
  border-right-color: var(--color-primary);
  color: var(--color-primary-invert);
}

.error {
  color: var(--color-error);
  font-size: calc(1rem * var(--size-ratio));
  text-align: right;
  margin-top: calc(-2.4rem * var(--size-ratio));
  margin-right: calc(6rem * var(--size-ratio));

  font-variation-settings: 'wght' var(--font-weight-regular), 
                           'wdth' var(--font-v-wdth-wide),
                           'slnt' var(--font-v-italic);
  opacity: 0;
  animation: error 2s ease-in-out;
}

@keyframes error {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}