.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0 0 calc(1rem * var(--size-ratio)) 0;
}

.list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(1.4rem * var(--size-ratio));
  width: 100%;
  padding: 
    calc(.9rem * var(--size-ratio))
    calc(1rem * var(--size-ratio))
    calc(1rem * var(--size-ratio))
    calc(.9rem * var(--size-ratio));
  border-bottom: 1px solid var(--color-primary);
  width: 100%;
  gap: calc(0.5rem * var(--size-ratio));
  transition: background-color 0.25s;
}
.list li:first-child {
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
}
.list li:last-child {
  border-bottom: none;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

.list li:hover {
  background-color: var(--color-primary-opacity);
}

.empty {
  width: 100%;
  padding: 3rem 0.5rem;
  text-align: center;
  font-size: 1.4rem;
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .list li {
    padding: 1rem 0rem;
    font-size: 1.2rem;
  }
}